{#-
 #  MetaData - API Generator.
 #  Copyright (C) 2022  Bill Hails
 #
 #  This program is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU General Public License as published by
 #  the Free Software Foundation, either version 3 of the License, or
 #  (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU General Public License for more details.
 #
 #  You should have received a copy of the GNU General Public License
 #  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}
const bcrypt = require('bcrypt');
const jwt = require('jsonwebtoken');
const logger = require('../Utils/logger');
const xss = require('../Utils/xss');

{% import 'macros/gql.j2h' as gql %}

class AuthServer {
{%- if schema.is_auth_enabled() %}
{%-     set owner_entity = schema.get_auth_owner_entity() %}
{%-     set password_label = gql.field_label(owner_entity.get_auth_password_field()) %}
{%-     set id_label = gql.field_label(owner_entity.get_auth_id_field()) %}

    constructor(db) {
        this.db = db;
    }

    /**
     * authenticateUserByExternalId
     */
    async authenticateUserByExternalId(req, res) {
        logger.debug('authenticateUserByExternalId');
        const id = req.body.{{ id_label }};

        if (!id) {
            res.sendStatus(400);
            return false;
        }

        logger.debug('authenticateUserByExternalId got id', {id});

        const user = await this.db.findUserByExternalId(id);

        if (user == null) {
            res.sendStatus(400);
            return false;
        }

        const password = req.body.{{ password_label }};

        if(!password) {
            res.sendStatus(400);
            return false;
        }

        try {
            if (!await bcrypt.compare(password, user.{{ password_label }})) {
                res.sendStatus(401);
                return false;
            }
        } catch (error) {
            logger.error(error);
            res.sendStatus(500);
            return false;
        }

        return user;
    }

    /**
     * signUp
     */
    async signUp(req, res) {
        try {
            const salt = await bcrypt.genSalt();
            const password = req.body.{{ password_label }};

            if (!password) {
                res.status(400).json({error: 'missing {{ password_label }}'});
                return;
            }

            let externalId = req.body.{{ id_label }};

            if (!externalId) {
                res.status(400).json({error: 'missing {{ id_label }}'});
                return;
            }

{%-     if owner_entity.get_auth_id_field().is_xss_susceptible() %}

            externalId = xss(externalId);

{%-     endif %}

            const existingUser = await this.db.findUserByExternalId(externalId);

            if (existingUser) {
                logger.debug('found existing user during signUp', { existingUser });
                return this.login(req, res);
            }

            const hashedPassword = await bcrypt.hash(password, salt);
            const user = {
                {{ password_label }}: hashedPassword
            };
{%-      for field in owner_entity.get_fields() %}
{%-          set label = gql.field_label(field) %}
{%-          if not field.is_auth_role('password') %}
            if (req.body.{{ label }}) {
                user['{{ label }}'] =
{%-      if field.is_xss_susceptible() -%}
                    xss(req.body.{{ label }});
{%-      else -%}
                    req.body.{{ label }};
{%-      endif %}
                req.body.{{ label }};
            }
{%-          endif %}
{%-      endfor %}

            const model = await this.db.createUser(user);
            const tokens = await this.generateTokens({
                id: model.{{ id_label }},
                sub: model.id
            });
            logger.debug('tokens generated', tokens);
            res.status(201).json(tokens);
        } catch (error) {
            logger.error('caught', error);
            res.sendStatus(500);
        }
    }

    /**
     * refreshAccessToken
     */
    async refreshAccessToken (req, res) {
        const refreshToken = req.body.refreshToken;
        if (!refreshToken) {
            return res.sendStatus(400);
        }
        if (! await this.db.refreshTokenExists(refreshToken)) {
            return res.sendStatus(403);
        }
        jwt.verify(refreshToken, process.env.REFRESH_TOKEN_SECRET, (err, user) => {
            if (err) {
                return res.sendStatus(403);
            }
            const accessToken = this.generateAccessToken({ id: user.id, sub: user.sub, admin: false })
            res.json({ accessToken });
        });
    }

    /**
     * deleteRefreshToken
     */
    async deleteRefreshToken(req, res) {
        await this.db.deleteRefreshToken(req.body.refreshToken);
        res.sendStatus(204);
    }

    /**
     * login
     */
    async login(req, res) {
        logger.debug('login');
        const user = await this.authenticateUserByExternalId(req, res);

        if (!user) {
            return;
        }

        const tokens = await this.generateTokens({ sub: user.id, id: user.{{ id_label }}, admin: false });
        res.json(tokens);
    }

    /**
     * generateTokens
     */
    async generateTokens(user) {
        logger.debug('generateTokens', user);
        const accessToken = this.generateAccessToken(user);
        const refreshToken = this.generateRefreshToken(user);
        await this.db.saveRefreshToken(refreshToken, user.sub);
        return { accessToken, refreshToken };
    }

    /**
     * generateAccessToken
     */
    generateAccessToken(user) {
        logger.debug('generateAccessToken', user);
        return jwt.sign(user, process.env.ACCESS_TOKEN_SECRET, { expiresIn: '{{ schema.access_token_expiry() }}'});
    }

    /**
     * generateRefreshToken
     */
    generateRefreshToken(user) {
        logger.debug('generateRefreshToken', user);
        return jwt.sign(user, process.env.REFRESH_TOKEN_SECRET);
    }
{%- endif %}
}



module.exports = AuthServer;