{#
 #  MetaData - API Generator.
 #  Copyright (C) 2022  Bill Hails
 #
 #  This program is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU General Public License as published by
 #  the Free Software Foundation, either version 3 of the License, or
 #  (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU General Public License for more details.
 #
 #  You should have received a copy of the GNU General Public License
 #  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #}
require('dotenv').config();
const express = require('express');
const AuthServer = require('./Auth/server');
const AuthDatabaseAccess = require('./Auth/dbaccess');
const Data = require('./DB/data');

const app = express();
app.use(express.json());

(async () => {
    const server = new AuthServer(new AuthDatabaseAccess(await Data.build()));
    app.post('/signup', async (req, res) => server.signUp(req, res));
    app.post('/refresh', async (req, res) => server.refreshAccessToken(req, res));
    app.post('/logout', async (req, res) => server.deleteRefreshToken(req, res));
    app.post('/login', async (req, res) => server.login(req, res));
    app.listen(3000);
})();
