{#
 #  MetaData - API Generator.
 #  Copyright (C) 2022-2023  Bill Hails
 #
 #  This program is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU General Public License as published by
 #  the Free Software Foundation, either version 3 of the License, or
 #  (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU General Public License for more details.
 #
 #  You should have received a copy of the GNU General Public License
 #  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 -#}
 // {{ warning }}
require('dotenv').config();
// must happen before express, apparently
const setupTracing = require('./OpenTelemetry/base');
setupTracing('{{ schema.get_name() }}-graphql', true);

const express = require('express');
const { graphqlHTTP } = require('express-graphql');

const { authenticateTokenMiddleware, makeAddUserRolesMiddleware } = require('./Auth/application');
const make_schema = require('./GraphQL/Schema');
const CoreBuilder = require('./GraphQL/CoreBuilder');
const Builder = require('./GraphQL/Builder');
const { Catalogue } = require('./GraphQL/Catalogue');
const complexity = require('./GraphQL/Complexity');
const Data = require('./DB/data');
const Loader = require('./Filters/loader');
const DataLoaderResolver = require('./Filters/DataLoaderResolver');
const AuthFilter = require('./Filters/AuthFilter');
const GraphQLFilter = require('./Filters/GraphQLFilter');
const { parseArgs } = require('node:util');

const cliOptions = {
    port: {
        type: 'string',
        short: 'p',
    }
};

const { values } = parseArgs({ options: cliOptions });

const app = express();

(async () => {
    const data = await Data.build();

    const filters = [
        AuthFilter,
        GraphQLFilter,
        DataLoaderResolver,
        Loader
    ].reduceRight((filters, filter) => new filter(filters), data);

    const clearCacheMiddleware = (req, res, next) => {
        filters.clearAll();
        next();
    };

    const catalogue = Builder.build(
        CoreBuilder.build(new Catalogue(), filters),
        filters
    );

    app.use('/graphql',
        clearCacheMiddleware,
        authenticateTokenMiddleware,
        makeAddUserRolesMiddleware(data),
        graphqlHTTP(async (request, response, { variables }) => ({
            schema: make_schema(catalogue),
            validationRules: [
                complexity(variables, 1000)
            ],
            graphiql: process.env.NODE_ENV === 'development',
        }))
    );

    const port = parseInt(values.port || '4000');
    app.listen(port);
    console.log(`Running a GraphQL API server at http://localhost:${port}/graphql`);
})();
