-- {{ warning }}

{% macro mysql_type(type) -%}
{% if type == "string" -%}VARCHAR(255)
{%- elif type == "small_string" -%}VARCHAR(16)
{%- elif type == "guid" -%}VARCHAR(36)
{%- else -%}???
{% endif %}
{%- endmacro -%}

DROP DATABASE IF EXISTS {{ schema.get_name() }};

CREATE DATABASE {{ schema.get_name() }};

{% for entity in schema.get_entities() %}
CREATE TABLE {{ entity.name }} (
    id {{ mysql_type("guid") }} NOT NULL
{% for field in entity.get_fields() %}
,
    {{ field.get_name() }} {{ mysql_type(field.get_type()) }} NOT NULL
{% endfor %}
{% for reference in entity.get_references() %}
,
    {{ reference.get_name() }} {{ mysql_type("guid") }} NOT NULL
{% endfor %}
{% for union in entity.get_unions() %}
,
    {{ union.get_name() }}_type ENUM(
{%- for ref in union.get_references() %}{% if not loop.first %}, {% endif %}'{{ ref.get_name() }}'{% endfor -%}
),
    {{ union.get_name() }} {{ mysql_type("guid") }} NOT_NULL
{% endfor %}
,
    PRIMARY KEY(id)
);
{% endfor %}

{% for association in schema.get_associations() %}
CREATE TABLE {{ association.get_name() }} (
    FOREIGN KEY {{ association.get_lhs().get_name() }}_lhs_id REFERENCES {{ association.get_lhs().get_name() }}(id),
    FOREIGN KEY {{ association.get_rhs().get_name() }}_rhs_id REFERENCES {{ association.get_rhs().get_name() }}(id)
);
{% endfor %}

{% for entity in schema.get_entities() %}
{% for reference in entity.get_references() %}
ALTER TABLE {{ entity.get_name() }}
ADD FOREIGN KEY ({{ reference.get_name() }}) REFERENCES {{ reference.get_referenced().get_name() }}(id);
{% endfor %}
{% endfor %}