{#-
 #  MetaData - API Generator.
 #  Copyright (C) 2022-2023  Bill Hails
 #
 #  This program is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU General Public License as published by
 #  the Free Software Foundation, either version 3 of the License, or
 #  (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU General Public License for more details.
 #
 #  You should have received a copy of the GNU General Public License
 #  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}
// {{ warning }}

const { faker } = require('../test-utils/fakery');
const { gql } = require('../test-utils/graphql');

function createCommentMutation(aboutId, aboutType, isPrivate) {
    return {
        mutation: gql`mutation AddComment($body: String!, $about: ID!, $aboutType: CommentsAboutEnum!, $private: Boolean) {
            addComment(input: {body: $body, private: $private, about: {id: $about, type: $aboutType} }) {
                id,
                body,
                private,
                owner {
                    id
                }
                about {
                  __typename
                  ... on Post {
                    id
                    title
                  }
                  ... on User {
                    id
                    displayName
                  }
                  ... on Comment {
                    id
                    body
                  }
                }
            }
        }`,
        variables: {
            body: faker.lorem.sentence(),
            about: aboutId,
            aboutType,
            'private': isPrivate
        }
    };
}

async function createComment(client, aboutId, aboutType, isPrivate=false) {
    const commentMutation = createCommentMutation(aboutId, aboutType, isPrivate);
    return client.request(commentMutation.mutation, commentMutation.variables);
}

function updateCommentMutation(id, newBody) {
    return {
        mutation: gql`mutation UpdateComment($body: String!, $id: ID!) {
            updateComment(id: $id, input: {body: $body}) {
                id,
                body,
                private,
                owner {
                    id
                }
                about {
                  __typename
                  ... on Post {
                    id
                    title
                  }
                  ... on User {
                    id
                    displayName
                  }
                  ... on Comment {
                    id
                    body
                  }
                }
            }
        }`,
        variables: {
            body: newBody,
            id
        }
    };
}

async function updateComment(client, id, newBody) {
    const commentMutation = updateCommentMutation(id, newBody);
    return client.request(commentMutation.mutation, commentMutation.variables);
}

function deleteCommentMutation(id) {
    return {
        mutation: gql`mutation DeleteComment($id: ID!) {
            deleteComment(id: $id) {
                status
            }
        }`,
        variables: {
            id
        }
    };
}

async function deleteComment(client, id) {
    const mutation = deleteCommentMutation(id);
    return client.request(mutation.mutation, mutation.variables);
}

function repliesToCommentQuery(commentId) {
    return {
        query: gql`query replies($commentId: ID!) {
            comment(id: $commentId) {
                replies {
                    edges {
                        node {
                            id
                            private
                        }
                    }
                }
            }
        }`,
        variables: {
            commentId
        }
    };
}

async function repliesToComment(client, commentId) {
    const query = repliesToCommentQuery(commentId);
    return client.request(query.query, query.variables);
}

function commentsOnPostQuery(postId) {
    return {
        query: gql`query postComments($postId: ID!) {
            post(id: $postId) {
                comments {
                    edges {
                        node {
                            id
                            private
                        }
                    }
                }
            }
        }`,
        variables: {
            postId
        }
    };
}

async function commentsOnPost(client, postId) {
    const query = commentsOnPostQuery(postId);
    return client.request(query.query, query.variables);
}

function messagesForUserQuery(userId) {
    return {
        query: gql`query messagesForUser($userId: ID!) {
            user(id: $userId) {
                messages {
                    edges {
                        node {
                            id,
                            private
                        }
                    }
                }
            }
        }`,
        variables: {
            userId
        }
    };
}

async function messagesForUser(client, userId) {
    const query = messagesForUserQuery(userId);
    return client.request(query.query, query.variables);
}

function commentsByUserQuery(userId) {
    return {
        query: gql`query commentsByUser($userId: ID!) {
            user(id: $userId) {
                comments {
                    edges {
                        node {
                            id,
                            private
                        }
                    }
                }
            }
        }`,
        variables: {
            userId
        }
    };
}

async function commentsByUser(client, userId) {
    const query = commentsByUserQuery(userId);
    return client.request(query.query, query.variables);
}


module.exports = {
    createComment,
    updateComment,
    deleteComment,
    repliesToComment,
    commentsOnPost,
    messagesForUser,
    commentsByUser,
};