// {{ warning }}

const logger = require('./logger');
const util = require('util');

class DataLoaderResolver {
    constructor(loaders) {
        this.loaders = loaders;
    }
{% for entity in schema.get_entities() %}
{%     set method %}resolve_{{ entity.get_name() | singular }}{% endset %}
    async {{ method }}(args) {
        return this.loaders.{{ entity.get_name() | singular }}Loader.load(args.id);
    }

{%     set method %}resolve_{{ entity.get_name() }}{% endset %}
    async {{ method }}(args) {
        return this.loaders.{{ entity.get_name() }}Loader.load(args);
    }

{%     for reference in entity.get_references() %}
{%         set method %}resolve_{{ reference.get_name() }}_for_{{ entity.get_name() | singular }}{% endset %}
    async {{ method }}(entity) {
        return this.loaders.{{ reference.get_referenced().get_name() | singular }}Loader.load(entity.{{ reference.get_name() }})
    }
{%     endfor %}

{%     for union in entity.get_unions() %}
{%        set method %}resolve_{{ union.get_name() }}_for_{{ entity.get_name() | singular }}{% endset %}
    async {{ method }}(entity) {
        switch (entity.{{ union.get_name() }}_type) {
{%         for reference in union.get_references() %}
            case "{{ reference.get_name() }}":
                return this.loaders.{{ reference.get_referenced().get_name() | singular }}Loader.load(entity.{{ union.get_name() }});
{%         endfor %}
        }
    }
{%     endfor %}

{%     for referrer in entity.get_referrers() %}
{%         set method %}resolve_{{ referrer.get_referrer_name() }}_for_{{ entity.get_name() | singular }}{% endset %}
    async {{ method }}(entity, args) {
        return this.loaders.{{ referrer.get_entity().get_name() }}_by_{{ referrer.get_name() }}Loader.load(entity.id, args)
    }
{%     endfor %}

{%     for association in entity.get_associations() %}
    async resolve_{{ association.get_name_for_other_entity(entity) }}_for_{{ entity.get_name() | singular }}_association(entity, args) {
        const associations = await this.loaders
            .{{ association.get_name() }}{% if not association.is_self_referential() %}_{% if association.is_lhs(entity) %}lhs{% else %}rhs{% endif %}_{% endif %}Loader
            .load(entity.id, args);
        return associations.map(row => this.loaders.{{ association.get_other(entity).get_name() | singular }}Loader.load(row));
    }
{%     endfor %}
{% endfor %}
}

module.exports = DataLoaderResolver;