{#-
 #  MetaData - API Generator.
 #  Copyright (C) 2022  Bill Hails
 #
 #  This program is free software: you can redistribute it and/or modify
 #  it under the terms of the GNU General Public License as published by
 #  the Free Software Foundation, either version 3 of the License, or
 #  (at your option) any later version.
 #
 #  This program is distributed in the hope that it will be useful,
 #  but WITHOUT ANY WARRANTY; without even the implied warranty of
 #  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 #  GNU General Public License for more details.
 #
 #  You should have received a copy of the GNU General Public License
 #  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-#}
 // {{ warning }}
{#- example test included by using the --extra override #}

const { faker } = require('../test-utils/fakery');
const { signup, deconstruct } = require('../test-utils/auth');
const { grantAdminRole } = require('../test-utils/db');
const { getGraphQLClient, gql } = require('../test-utils/graphql');
const { createUser, getLoggedInUser, getAdminUser } = require('../test-utils/users');
jest.mock('../../Utils/logger');

function randomPost() {
    return {
        title: faker.lorem.sentence(),
        body: faker.lorem.paragraph()
    }
}

function createPostMutation() {
    const post = randomPost()
    return {
        mutation: gql`mutation AddPost($title: String!, $body: String!) {
            addPost(input: {title: $title, body: $body}) {
                id,
                body,
                owner {
                    id
                }
            }
        }`,
        variables: {
            title: post.title,
            body: post.body
        }
    }
}

function updatePostMutation(id) {
    const post = randomPost()
    return {
        mutation: gql`mutation UpdatePost($id: ID!, $title: String!, $body: String!) {
            updatePost(id: $id, input: {title: $title, body: $body}) {
                id
                body
                owner {
                    id
                }
            }
        }`,
        variables: {
            title: post.title,
            body: post.body,
            id
        }
    }
}

async function updatePost(client, id) {
    const mutation = updatePostMutation(id);
    return client.request(mutation.mutation, mutation.variables);
}

function deletePostMutation(id) {
    return {
        mutation: gql`mutation DeletePost($id: ID!) {
            deletePost(id: $id) {
                status
            }
        }`,
        variables: {
            id
        }
    }
}

function deletePost(client, id) {
    const mutation = deletePostMutation(id);
    return client.request(mutation.mutation, mutation.variables);
}

function categoriesQuery() {
    return {
        query: gql`query CountCategories {
            categories {
                totalCount
                edges {
                    node {
                        id
                        label
                    }
                }
            }
        }
        `,
        variables: {}
    }
}

function addCategoryMutation(label) {
    return {
        mutation: gql`mutation AddCategory($label: String!) {
            addCategory(input: {label: $label}) {
                id
            }
        }
        `,
        variables: {
            label
        }
    };
}

function createCategoryPostMutation(categoryId, postId) {
    return {
        mutation: gql`mutation CreateCategoryPost($categoryId: ID!, $postId: ID!) {
            addPostsCategoryAssociation(postsLhsId: $postId, categoriesRhsId: $categoryId) {
                status
            }
        }
        `,

        variables: {
            categoryId,
            postId
        }
    };
}

function postQuery(id) {
    return {
        query: gql`query GetPost($id: ID!) {
            post(id: $id) {
                title
                categories {
                    edges {
                        node {
                            id
                        }
                    }
                }
            }
        }
        `,
        variables: {
            id
        }
    }
}

async function ensureCategoriesExist(adminClient) {
    const counter = categoriesQuery();
    const data = await adminClient.request(counter.query, counter.variables);
    if (data.categories.totalCount === 0) {
        const results = await Promise.all(['Art', 'Science', 'Philosophy'].map(async (label) => {
            const createCategory = addCategoryMutation(label);
            const data = await adminClient.request(createCategory.mutation, createCategory.variables);
            console.log(data);
        }));
        return adminClient.request(counter.query, counter.variables);
    } else {
        return data;
    }
}

async function createPost(loggedInClient) {
    const postMutation = createPostMutation()
    return loggedInClient.request(postMutation.mutation, postMutation.variables);
}

async function createCategoryPost(loggedInClient, categoryId, postId) {
    const mutation = createCategoryPostMutation(categoryId, postId);
    return loggedInClient.request(mutation.mutation, mutation.variables);
}

async function fetchPost(client, postId) {
    const query = postQuery(postId);
    return client.request(query.query, query.variables);
}

describe("posts", () => {
    it("cannot be created by a logged-out user", async () => {
        expect.assertions(1);
        const loggedOut = getGraphQLClient();
        const data = await createPost(loggedOut);
        expect(data).toStrictEqual({addPost: null});
    });
    it("can be created by a logged-in user", async () => {
        expect.assertions(2);
        const { loggedIn, id } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        expect(data.addPost).not.toBeNull();
        expect(data.addPost?.owner?.id).toBe(id);
    });
    it("can be created by admin", async () => {
        expect.assertions(2);
        const { loggedIn: admin, id } = await getAdminUser();
        const data = await createPost(admin);
        expect(data.addPost).not.toBeNull();
        expect(data.addPost?.owner?.id).toBe(id);
    });
    it("can be modified by the owner", async () => {
        expect.assertions(2);
        const { loggedIn, id } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        const update = updatePostMutation(data.addPost.id)
        const updatedData = await loggedIn.request(update.mutation, update.variables);
        expect(updatedData.updatePost.body).toBe(update.variables.body);
        expect(updatedData.updatePost.owner.id).toBe(id);
    });
    it("can be modified by admin", async () => {
        expect.assertions(2);
        const { loggedIn, id } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        const { loggedIn: admin } = await getAdminUser();
        const update = updatePostMutation(data.addPost.id);
        const updatedData = await admin.request(update.mutation, update.variables);
        expect(updatedData.updatePost.body).toBe(update.variables.body);
        expect(updatedData.updatePost.owner.id).toBe(id);
    });
    it("can not be modified by a logged-out user", async () => {
        expect.assertions(1);
        const { loggedIn } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        const loggedOut = getGraphQLClient();
        const updatedData = await updatePost(loggedOut, data.addPost.id);
        expect(updatedData.updatePost).toBeNull();
    });
    it("can not be modified by a different user", async () => {
        expect.assertions(1);
        const { loggedIn } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        const { loggedIn: otherUser } = await getLoggedInUser();
        const updatedData = await updatePost(otherUser, data.addPost.id);
        expect(updatedData.updatePost).toBeNull();
    });
    it("can be deleted by the owner", async () => {
        expect.assertions(1);
        const { loggedIn } = await getLoggedInUser();
        const post = createPostMutation();
        const data = await loggedIn.request(post.mutation, post.variables);
        const deletedData = await deletePost(loggedIn, data.addPost.id);
        expect(deletedData).toStrictEqual({deletePost: { status: true }})
    });
    it("can be deleted by admin", async () => {
        expect.assertions(1);
        const { loggedIn } = await getLoggedInUser();
        const post = createPostMutation();
        const data = await loggedIn.request(post.mutation, post.variables);
        const { loggedIn: admin } = await getAdminUser();
        const deletedData = await deletePost(admin, data.addPost.id);
        expect(deletedData).toStrictEqual({deletePost: { status: true }})
    });
    it("can not be deleted by a logged-out user", async () => {
        expect.assertions(1);
        const { loggedIn } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        const loggedOut = getGraphQLClient();
        const deletedData = await deletePost(loggedOut, data.addPost.id);
        expect(deletedData).toStrictEqual({deletePost: { status: false }})
    });
    it("can not be deleted by a different user", async () => {
        expect.assertions(1);
        const { loggedIn } = await getLoggedInUser();
        const data = await createPost(loggedIn);
        const { loggedIn: otherUser } = await getLoggedInUser();
        const deletedData = await deletePost(otherUser, data.addPost.id);
        expect(deletedData).toStrictEqual({deletePost: { status: false }});
    });
    it("can be associated with categories", async () => {
        expect.assertions(3);
        const { loggedIn } = await getLoggedInUser();
        const { loggedIn: admin } = await getAdminUser();
        const postData = await createPost(loggedIn);
        const categoryData = await ensureCategoriesExist(admin);
        expect(categoryData.categories.totalCount).toBeGreaterThanOrEqual(3);
        const assocResult = await createCategoryPost(loggedIn, categoryData.categories.edges[0].node.id, postData.addPost.id);
        expect(assocResult.addPostsCategoryAssociation.status).toBe(true);
        const fetchPostResult = await fetchPost(loggedIn, postData.addPost.id);
        expect(fetchPostResult.post.categories.edges[0].node.id).toBe(categoryData.categories.edges[0].node.id);
    });
});